# ignore directories personal to my make build process and IDE setup
/build
/CMakeFiles
/.vscode
/archived-functions
Makefile
makefile
*.cmake
CMakeCache.txt
install_manifest.txt
libnumerics.so
research.md